@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/open-sans-v34-latin-regular.eot');
    src: local(''),
        url('../fonts/open-sans-v34-latin-regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/open-sans-v34-latin-regular.woff2') format('woff2'),
        url('../fonts/open-sans-v34-latin-regular.woff') format('woff'),
        url('../fonts/open-sans-v34-latin-regular.ttf') format('truetype'),
        url('../fonts/open-sans-v34-latin-regular.svg#OpenSans') format('svg');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/open-sans-v34-latin-500.eot');
    src: local(''),
        url('../fonts/open-sans-v34-latin-500.eot?#iefix') format('embedded-opentype'),
        url('../fonts/open-sans-v34-latin-500.woff2') format('woff2'),
        url('../fonts/open-sans-v34-latin-500.woff') format('woff'),
        url('../fonts/open-sans-v34-latin-500.ttf') format('truetype'),
        url('../fonts/open-sans-v34-latin-500.svg#OpenSans') format('svg');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/open-sans-v34-latin-600.eot');
    src: local(''),
        url('../fonts/open-sans-v34-latin-600.eot?#iefix') format('embedded-opentype'),
        url('../fonts/open-sans-v34-latin-600.woff2') format('woff2'),
        url('../fonts/open-sans-v34-latin-600.woff') format('woff'),
        url('../fonts/open-sans-v34-latin-600.ttf') format('truetype'),
        url('../fonts/open-sans-v34-latin-600.svg#OpenSans') format('svg');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/open-sans-v34-latin-700.eot');
    src: local(''),
        url('../fonts/open-sans-v34-latin-700.eot?#iefix') format('embedded-opentype'),
        url('../fonts/open-sans-v34-latin-700.woff2') format('woff2'),
        url('../fonts/open-sans-v34-latin-700.woff') format('woff'),
        url('../fonts/open-sans-v34-latin-700.ttf') format('truetype'),
        url('../fonts/open-sans-v34-latin-700.svg#OpenSans') format('svg');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/open-sans-v34-latin-800.eot');
    src: local(''),
        url('../fonts/open-sans-v34-latin-800.eot?#iefix') format('embedded-opentype'),
        url('../fonts/open-sans-v34-latin-800.woff2') format('woff2'),
        url('../fonts/open-sans-v34-latin-800.woff') format('woff'),
        url('../fonts/open-sans-v34-latin-800.ttf') format('truetype'),
        url('../fonts/open-sans-v34-latin-800.svg#OpenSans') format('svg');
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/open-sans-v34-latin-italic.eot');
    src: local(''),
        url('../fonts/open-sans-v34-latin-italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/open-sans-v34-latin-italic.woff2') format('woff2'),
        url('../fonts/open-sans-v34-latin-italic.woff') format('woff'),
        url('../fonts/open-sans-v34-latin-italic.ttf') format('truetype'),
        url('../fonts/open-sans-v34-latin-italic.svg#OpenSans') format('svg');
}


/*General*/

.page {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: rgb(0, 0, 0);
}

:root {
    scroll-behavior: smooth;
}


/*Header*/

.header {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1249px;
    margin: auto auto;
    background-color: rgb(0, 0, 0, 0.8);
    padding-right: 100px;
    box-sizing: border-box;
    height: 89px;
    align-items: center;
}

.header__fixed {
    position: fixed;
    z-index: 4;
    left: 50%;
    transform: translate(-50%, 0);
    top: 0;
    animation: fixedmenu 1s;
}

@keyframes fixedmenu {
    0% {
        height: 0;
    }

    50% {
        height: 95px;
    }

    100% {
        height: 89px;
    }
}

.site-menu__list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    align-self: stretch;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
}

.site-menu__item {
    display: flex;
    justify-self: center;
    color: rgb(224, 224, 224);
    padding: 39px 23px 26px 23px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.7;
}

.site-menu__item:hover {
    background-color:
        rgb(255, 63, 64);
}

@media screen and (max-width: 1200px) {
    .header {
        padding-right: 0px;
    }
}

@media screen and (max-width: 800px) {

    .site-menu {
        display: none;
    }

    .header {
        padding-right: 0px;
        justify-content: center;
    }
}


/* Popup menu */

.popup-menu {
    position: relative;
}

.popup-menu_btn {
    width: 80vw;
    height: 80px;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 2px;
    margin: 0 auto;
}

.popup-menu_btn__menu-icon {
    width: 80vw;
    height: 80px;
    background-image: url(../Img/menu_FILL0_wght400_GRAD0_opsz48.svg);
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 2px;
}

.popup-menu_btn__menu-icon:hover {
    cursor: pointer;
}

.popup-menu_btn__close-icon {
    width: 80vw;
    height: 80px;
    background-image: url(../Img/close_FILL0_wght400_GRAD0_opsz48.svg);
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 2px;
}

.popup-menu_btn__close-icon:hover {
    cursor: pointer;
}

.popup-menu_list {
    width: 80vw;
    position: absolute;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
    background: #000000;
    left: 50%;
    transform: translate(-50%, 0);
    top: 80px;
    border-radius: 2px;
}

.popup-menu_item {
    display: flex;
    justify-content: center;
    color: rgb(224, 224, 224);
    padding: 39px 23px 26px 23px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.7;
    flex: 1 1 0;
}

.popup-menu_item:hover {
    background-color:
        rgb(255, 63, 64);
}

@media screen and (min-width:801px) {
    .popup-menu {
        display: none;
    }
}


/*Main*/

/*Intro*/

.page__inner {
    padding-top: 25px;
}

.page__inner_gray {
    background-color: rgb(246, 242, 242);
    margin: 0 auto;
}

.page__inner_dark {
    background-color: rgb(44, 44, 44);
}

.page__inner-intro {
    box-sizing: border-box;
    max-width: 1297px;
    gap: 80px;
    width: 100%;
    justify-content: space-between;
    display: flex;
    margin: 0 auto;
    padding: 74px 24px 126px 24px;
}

.intro>div {
    display: flex;
    max-width: 595px;
    flex-direction: column;
}

.intro__heading {
    letter-spacing: 2px;
    width: 100%;
    font-size: clamp(40px, 4vw, 60px);
    line-height: 1.17;
    font-weight: 800;
    text-transform: uppercase;
    margin: -12px 0 1.1rem 0;
}

.intro__info {
    width: 60%;
    max-width: 618px;
    min-width: 272px;
}

.intro__text {
    line-height: 28px;
    hyphens: auto;
    -webkit-hyphens: auto;
    margin: 0;
    min-width: 272px;
    max-width: 544px;
}

.intro__span_special {
    letter-spacing: 10px;
    word-break: break-all;
    hyphens: auto;
    -webkit-hyphens: auto;
    overflow-wrap: break-word;
}

.btn-priority {
    margin-top: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 227px;
    min-height: 55px;
    border-radius: 5px;
    font-weight: 700;
    line-height: 34px;
    font-size: 18px;
    text-decoration: none;
    box-sizing: border-box;
    padding: 0.5em 1em;
}

.btn-priority_red-full {
    background-color: #FF2D2D;
    color: rgb(255, 255, 255);
}

.btn-priority_red-full:hover {
    background-color: rgb(179, 19, 19);
}

.intro__video {
    width: 44%;
    max-height: 364px;
    object-fit: cover;
    box-shadow: -2.2px -13.8px 73px rgba(0, 0, 0, 0.29);
}

@media screen and (max-width: 768px) {

    .page__inner-intro {
        flex-wrap: wrap;
        gap: 80px;
        width: 100%;
    }

    .intro__video {
        width: 100%;
        height: 30vh;
    }
}

.intro__info {
    width: 100%;
    max-width: 768px;
    margin-left: 0;
}


/* Services */

.services {
    box-sizing: border-box;
    align-self: center;
    max-width: 1297px;
    width: 100%;
    justify-content: space-between;
    display: flex;
    margin: 0 auto;
    margin-top: 64px;
    margin-bottom: 12px;
    padding: 0 24px 0 24px;
    gap: 80px;
    border-bottom: 2px solid hwb(0 93% 7%);
}

.services__info {
    max-width: 539px;
}

.services__heading {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    width: 100%;
    text-transform: uppercase;
    font-size: clamp(28px, 4vw, 42px);
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: 0.6px;
    height: auto;
    margin-bottom: 1.8rem;
}

.services__text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    width: 100%;
    margin-right: 28px;
    line-height: 28px;
    margin: 0;
}

.btn-priority_red-border {
    background-color: rgb(255, 255, 255);
    color: rgb(255, 45, 45, 1);
    border: 2px solid rgb(255, 45, 45, 1);
    box-sizing: border-box;
}

.btn-priority_red-border:hover {
    background-color: rgb(179, 19, 19);
    color: rgb(255, 255, 255);
    border: 2px solid rgb(179, 19, 19);
}

.services__items-list {
    display: flex;
    flex-wrap: wrap;
    width: 610px;
    column-gap: 30px;
    row-gap: 0px;
    margin-top: 47px;
    margin-bottom: 29px;
}

.services__item {
    margin-bottom: 26px;
    width: 100%;
    min-width: 200px;
    max-width: 50%;
    flex: 1 1 0;
}

.services__item-name {
    margin: 0;
    margin-bottom: 13px;
    font-family: 'Open Sans';
    font-weight: 600;
    line-height: 1;
    font-size: clamp(18px, 4vw, 24px);
}

.services__item_animation::before {
    content: '';
    display: block;
    width: 44px;
    height: 44px;
    background-image: url(../Img/animation-icon.svg);
    background-repeat: no-repeat;
    margin-bottom: 27px;
}

.services__item_logo::before {
    content: '';
    display: block;
    width: 44px;
    height: 44px;
    background-image: url(../Img/logo-icon.svg);
    background-repeat: no-repeat;
    margin-bottom: 27px;
}

.services__item_ui-ux-design::before {
    content: '';
    display: block;
    width: 44px;
    height: 44px;
    background-image: url(../Img/ui-icon.svg);
    background-repeat: no-repeat;
    margin-bottom: 27px;
}

.services__item_managment::before {
    content: '';
    display: block;
    width: 44px;
    height: 44px;
    background-image: url(../Img/managment-icon.svg);
    background-repeat: no-repeat;
    margin-bottom: 27px;
}

.services__item-description-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    width: 100%;
    margin-top: -4px;
}

@media screen and (max-width: 1200px) {

    .services__items-list {
        width: 100%;
    }

    .services__info {
        width: 100%;
        max-width: 1052px;
    }

    .services {
        flex-wrap: wrap;
    }
}


/* Features */

.feature {
    box-sizing: border-box;
    max-width: 1297px;
    width: 100%;
    margin: 0 auto;
    padding: 96px 24px 65px 24px;
}

.feature__header {
    margin: 0 auto;
    margin-bottom: 1.1rem;
    margin-left: 27px;
    font-family: 'Open Sans', sans-serif;
    font-size: clamp(28px, 4vw, 42px);
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    text-align: center;
    height: auto;
}

.feature__about {
    max-width: 537px;
    margin: 0 auto;
    justify-content: center;
    padding-left: 27px;
    margin-bottom: 25px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
}

.feature__line {
    width: 130px;
    height: 2px;
    border: none;
    background-color: rgb(255, 45, 45);
}

.feature__filters {
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    gap: 60px;
    margin: 86px 16px 58px 67px;
}

.feature__filters-item {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: black;
    text-decoration: none;
}

.feature__filters-item:hover {
    color: #FF2D2D
}

.feature__filters-item_active {
    color: #FF2D2D
}

.feature__product-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 21px;

}

.feature__product {
    min-width: 272px;
    max-width: 612px;
    max-height: 290px;
    object-fit: cover;
    object-position: center;
    flex: 1 1 0;
}

.feature__product_hide {
    display: none;
}

@media screen and (max-width: 1200px) {
    .feature__header {
        margin-left: 0px;
    }

    .feature__about {
        padding-left: 0;
    }

    .feature__filters {
        margin: 86px 16px 58px 16px;
    }

}


/* Team */

.team {
    box-sizing: border-box;
    max-width: 1297px;
    width: 100%;
    margin: 0 auto;
    padding: 65px 24px 108px 24px;
    text-align: left;
}

.team__header {
    margin-bottom: 67px;
}

.team__heading {
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: clamp(28px, 4vw, 42px);
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: 0.4px;
    margin: 0;
    margin-bottom: 2.5rem;
    height: 32px;

}

.team__about {
    max-width: 463px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
    margin: 0;
    margin-bottom: 30px;
    height: auto;
    color: rgb(0, 0, 0);

}

.team__line {
    width: 130px;
    height: 2px;
    border: none;
    margin-left: 0;
    background-color: rgb(255, 45, 45);
}

.team__member {
    display: grid;
    grid-template-columns: 352px auto;
    grid-template-rows: 243px auto;
    justify-items: start;
    column-gap: 2vh;
}

.team__member-photo {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.team__lead-main {
    display: flex;
    flex-direction: column;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.team__lead-name {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    line-height: 1.2;
    font-size: clamp(18px, 4vw, 30px);
    display: flex;
    align-items: flex-start;
    letter-spacing: 0.275265px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 14px;
    margin-top: 12px;
}

.team__lead-about {
    max-width: 663px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
    margin: 0;
    margin-bottom: 45px;
    height: auto;
    color: rgb(0, 0, 0);
}

.team__lead-social {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.team__lead-link {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.9px;
    text-decoration: none;
    color: #000000;
}

.team__lead-link:hover {
    color: #FF2D2D;
}

.team__others {
    display: flex;
    gap: 22px;
    flex-wrap: wrap;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.team__other {
    position: relative;
    max-width: 198px;
    max-height: 217px;
    flex: 1 1 0;
}


.team__other-name {
    display: none;
    box-sizing: border-box;
    width: 100%;
    color: #ffffff;
    position: absolute;
    bottom: 0;
    z-index: 1;
    left: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    background-color: rgb(0, 0, 0, 0.5);
    padding: 10px;
}

.team__other-photo {
    display: flex;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}


.team__other:hover>.team__other-name {
    display: block;
}

.team__member-photo {
    height: auto;
    width: 50vw;
    max-width: 324px;
    max-height: 460px;
}


@media screen and (max-width: 1024px) {

    .team__member {
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto;
        row-gap: 30px;
    }

    .team__others {
        grid-column: 1 / 3;
        grid-row: auto;
        justify-items: center;
    }

    .team__other {
        min-width: 100px;
        min-height: 100px;

    }


    .team__lead-main {
        display: flex;
        flex-wrap: wrap;
        grid-column: 2 / 3;
        grid-row: auto;
    }
}

@media screen and (max-width: 800px) {
    .team__member {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .team__others {
        grid-column: 1 / 2;
        grid-row: auto;
        justify-content: center;
    }

    .team__lead-main {
        display: flex;
        flex-wrap: wrap;
        grid-column: 2 / 3;
        grid-row: auto;
    }

    .team__member-photo {
        width: 100%;
        margin: 0 auto;
    }

    .team__lead-name {
        justify-content: center;
    }


}

/* Subscribe */

.subscribe {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1297px;
    margin: 0 auto;
    padding: 121px 24px 140px 24px;
}

.subscribe__heading {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    font-weight: 700;
    font-size: clamp(28px, 4vw, 42px);
    line-height: 1;
    color: rgb(255, 255, 255);
    padding: 0;
    margin: 0;
    margin-bottom: 1.2rem;
    text-align: center;
}

.subscribe__about {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: rgb(255, 255, 255);
    margin: 0;
    margin-bottom: 56px;
}

.subscribe__form {
    max-width: 1249px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 22px;

}

.subscribe__input {
    width: 100%;
    max-width: 444px;
    height: 80px;
    border-radius: 5px;
    padding: 0 36px;
    border: none
}

.subscribe__input:focus {
    background-color: blanchedalmond;
}

.subscribe__btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    max-width: 214px;
    height: 80px;
    border-radius: 5px;
    border: none;
    background-color: rgb(255, 45, 45);
    color: rgb(255, 255, 255);
    text-transform: uppercase;

}

.subscribe__btn:hover {
    background-color: rgb(179, 19, 19);
    cursor: pointer;
}


@media screen and (max-width: 1024px) {

    .subscribe__form {
        flex-wrap: wrap;
    }

    .subscribe__btn {
        max-width: 492px;
        min-width: 217px;
        flex: 1 1 0;
    }
}

@media screen and (max-width: 800px) {

    .subscribe__input {
        padding: 0 24px;
    }
}


/* Feedback */

.feedback {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 109px;
}

.feedback__header {
    box-sizing: border-box;
    align-self: center;
    width: 100%;
    max-width: 1297px;
    padding: 0 24px 0 24px;
    margin-top: 96px;
    display: flex;
    flex-direction: column;
    margin-bottom: 67px;
}

.feedback__heading {
    font-family: 'Open Sans', sans-serif;
    font-size: clamp(28px, 4vw, 42px);
    font-weight: 700;
    line-height: 1.3;
    margin: 0;
    width: 100%;
    max-width: 753px;
    text-transform: uppercase;
    margin-bottom: 1.8rem;
}

.feedback__about {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7;
    width: 100%;
    max-width: 753px;
    margin-block-end: 0;
    margin-block-start: 0;
    margin: 0;
    margin-bottom: 49px;
}

.feedback__line {
    width: 130px;
    height: 2px;
    border: none;
    margin-left: 0;
    background-color: rgb(255, 45, 45);

}

.feedback__body {
    display: grid;
    grid-template-columns: 1fr 24px 731px minmax(auto, 107px) 411px 24px 1fr;
    grid-template-rows: auto;
}

.feedback__body::after {
    content: '';
    grid-column: 6/8;
    background-color: rgb(45, 45, 45);
}

.feedback__form {
    grid-column: 3/4;
    display: flex;
    flex-direction: column;
    gap: 45px;
    width: 100%;
    min-width: 200px;
}

.feedback_1line {
    display: flex;
    flex-direction: row;
    gap: 51px;
    width: 100%;
    flex-wrap: nowrap;
}

.feedback__name {
    box-sizing: border-box;
    min-width: 200px;
    width: 100%;
    flex-wrap: wrap;
    height: 69px;
    background-color: rgb(0, 0, 0, 0.1);
    border: none;
    border-radius: 5px;
    padding-left: 54px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: rgb(0, 0, 0);
}

.feedback__email {
    box-sizing: border-box;
    width: 100%;
    min-width: 200px;
    height: 69px;
    background-color: rgb(0, 0, 0, 0.1);
    border: none;
    border-radius: 5px;
    padding-left: 54px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: rgb(0, 0, 0);
}

.feedback__email::placeholder,
.feedback__textarea::placeholder,
.feedback__name::placeholder {
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 400;
    color: rgb(0, 0, 0);
}

.feedback__textarea {
    box-sizing: border-box;
    border: none;
    width: 100%;
    min-width: 200px;
    height: 250px;
    padding: 32px 54px;
    resize: none;
    border-radius: 5px;
    background-color: rgb(0, 0, 0, 0.1);
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: rgb(0, 0, 0);
}


.feedback__email:focus,
.feedback__textarea:focus,
.feedback__name:focus {
    background-color: blanchedalmond;
}


.feedback__button {
    width: 100%;
    height: 72px;
    border-radius: 5px;
    border: none;
    background-color: #FF2D2D;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-weight: 600;
}

.feedback__button:hover {
    background-color: rgb(179, 19, 19);
    cursor: pointer;
}

.feedback__contacts {
    grid-column: 5/6;
    min-width: 200px;
    background-color: rgb(45, 45, 45);
    display: flex;
    flex-direction: column;
    gap: 3px;
    padding: 117px 17px 80px 81px;

}

.contacts__heading {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    line-height: 34px;
    text-transform: uppercase;
    width: 100%;
}

.contacts__address {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    Font-style: normal;
    width: 100%;
    min-width: 10px;
    width: 100%;

}

.contacts__mail {
    font-family: 'Open Sans', sans-serif;
    margin-top: 16px;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    width: 100%;
    min-width: 10px;
}

.contacts__phone {
    font-family: 'Open Sans', sans-serif;
    margin-top: 16px;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    width: 100%;
    min-width: 10px;

}

.contacts__mail:hover,
.contacts__phone:hover {
    color: rgb(172, 176, 255);
}

@media screen and (max-width: 1200px) {

    .feedback__body {
        width: 100%;
        max-width: 1248px;
        display: grid;
        grid-template-columns: 24px auto 24px;
        grid-template-rows: auto;
    }

    .feedback__body::after {
        content: none;
    }

    .feedback__contacts {
        display: flex;
        grid-column: 1/4;
        padding-left: 24px;
        min-width: 0;
    }

    .feedback__form {
        grid-column: 2/3;
        margin-bottom: 48px;
    }

    .feedback {
        margin: 0;
    }
}

@media screen and (max-width: 800px) {

    .feedback_1line {
        flex-wrap: wrap;
        gap: 24px;
        min-width: 200px;
    }

    .feedback__form {
        width: 100%;
        gap: 24px;
        grid-column: 2/3;
    }

    .feedback__contacts {
        padding: 40px 24px 80px 24px;
    }

    .feedback__textarea {
        padding: 32px 24px;
    }

    .feedback__email {
        padding: 32px 24px;
    }

    .feedback__name {
        padding: 32px 24px;
    }

}


/* Footer */

.page__inner_dark2 {
    background-color: rgb(49, 48, 48);
}

.footer {
    box-sizing: border-box;
    max-width: 1297px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0 auto;
    padding: 48px 24px 32px 24px;
    flex-wrap: wrap;
    gap: 20px;
}

.footer__social {
    display: flex;
    gap: 18px;
}

.social__link:hover {
    transform: scale(1.1, 1.1);
    transition: ease-in;
}

.footer__copyright {
    margin: 0;
    color: #B8B8B8;
    font-family: 'Open Sans';
    font-size: 16px;
    line-height: 26px;
}

@media screen and (max-width: 800px) {

    .footer {
        justify-content: center;
    }
}


/* JS */

.visuallyhidden {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    z-index: 2;
}